/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
    font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
    /* background-color: rgb(88, 104, 255); */
}

.navbar {
    width: 100%;
    height: 10vh;
    
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;

    padding: 0 10rem;
}

.nav-href {
    text-decoration: none;
}

.navTextBlock {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;

    color: black;
    font-size: 2rem;
    font-weight: bold;

    color: rgb(88, 104, 255);
    
    text-decoration: none;
}

.main-part {
    padding: 0 10rem;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
}

.carBlock {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: black;

    gap: .7rem;
}

.img {
    height: 12rem;
    width: 20rem;
}

.btn {
    width: 180px;
    height: 40px;
    background-color: rgb(88, 104, 255);
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

.welcome-part {
    width: 100%;
    height: 100vh;

    display: grid;
    place-items: center;

    background-image: url("/cardFresh/assets/photo_2024-07-07_03-03-33.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-btn {
    width: 250px;
    height: 100px;
    background: rgb(88, 104, 255);

    display: grid;
    place-items: center;

    border-radius: 20px;
}

.welcome-h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
}

.about-part {
    height: 90vh;
    width: 100%;

    display: grid;
    place-items: center;
}

.about-text {
    font-size: 1rem;
    font-family: 600;
    color: rgb(88, 104, 255);
}

.ads-part {
    width: 100%;
    height: 100vh;
    
    display: grid;
    place-items: center;
}

.first_ads {
    width: 100%;
    height: 100%;

    background-image: url("/cardFresh/assets/exeed\ \(4\).png");
    background-repeat: no-repeat;
    background-size: cover;
}